/*
Monetize 1.03
By: Marko Martinović
URL: http://www.techytalk.info/wordpress/monetize/
*/
div.monetize-linkhome {
    font-style: italic;
    font-size: 90%;
    margin-top: 2px;
    text-align: center;
}